/*
*******************
* =body
*******************
*/

body {
	background: url(../images/bg.jpg);
}



/*
*******************
* =controls
*******************
*/

.controls {
	margin: 10px 5px 30px 5px;	/* top right bottom left */
	border-bottom: 1px solid #4e4e4e;
	height: 30px;
	zoom: .9;
}

.lang {
	float: left;
}

.menu {
	margin-left: 770px;
}

.lang li {
	display: inline;
	margin-left: 5px;
}

.menu li {
	display: inline;
	margin-left: 15px;
	margin-bottom: 0px;
}


/*
*******************
* =header
*******************
*/

.header {
	overfloat: hidden;
}

.header h1 {
	text-indent: -9999px;
	margin: 0px;
	margin-left: 9px;
}

.header h1 a {
	background: url(../images/logo2.png) no-repeat;
	width: 200px;
	height: 58px;
	float: left;
	
}


/*
*******************
* =nav
*******************
*/

.nav_top {
	float: right;
	margin-right: 30px;
	padding-top: 42px;
	margin-bottom: 0px;
}

.nav_top ul {
	margin-bottom: 0px;
}

.nav_top li {
	display: inline;
}

.nav_top a {
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	text-transform: lowercase;
	color: #7e7e7e;
}

.nav_top a:hover {
	color: black;
	text-shadow: black 0px 0px 1px;
}


.nav_side {
	margin-bottom: 50px;
}


.nav_side ul {
	list-style-type: none;
}

.nav_side li {
	margin-left: 5px;
}

.nav_side p {
	border-top: 1px solid black;			/*ramka*/
	text-transform: lowercase;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 15px;
	color: black;
}

.nav_side a {
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	text-transform: lowercase;
	color: #7e7e7e;
}

.nav_side a:hover {
	color: black;
	text-shadow: black 0px 0px 1px;
}


/*
*******************
* =footer
*******************
*/

.footer {
	clear: both;
	border-top: 1px solid #4e4e4e;
	padding-top: 8px;
/*	margin-top: 100px;	*/
	margin-left: 5px;
	margin-right: 5px;
	font-size: 11px;
	padding-left: 20px;
	text-align: center;
}

.footer p {
	margin-bottom: 5px;
}


/*
*******************
* =tabele
*******************
*/


.tabela {
	margin-top: -25px;
}

.tabela_gat {
	width: 776px;
	float: right;
	margin-right: 10px;
	border-collapse: separate;
	border-spacing: 1px;
}

.tabela td,
.tabela th,
.tabela_gat td,
.tabela_gat th {
	text-align: center;
	vertical-align: middle;
	padding: 2px;
	font-size: 11px;
}

.tabela_gat .tab_none {
	background: #eeeefe;
}

.tabela th,
.tabela_gat th {
	background: #aaaaaa;
	font-weight: bold;
}

.tabela tr:nth-child(even),
.tabela_gat tr:nth-child(even) {
	background: #eeeef0;
}

.tabela tr:nth-child(odd),
.tabela_gat tr:nth-child(odd) {
	background: #cccccc;
}

td.tab_vertical_header_1,
td.tab_vertical_header_2 {
	width: 18px;
	background: #aaaaaa;
	vertical-align: middle;
}

.col_0 {
	width: 82px;
}

.col_1 {
	width: 104px;
}

.col_2 {
	width: 50px;
}

.col_3 {
	width: 94px;
}

.col_4 {
	width: 70px;
}

.col_5 {
	width: 60px;
}

.col_6 {
	width: 50px;
}

.col_7 {
	width: 120px;
}

.col_8 {
	width: 50px;
}

.col_9 {
	width: 50px;
}

.col_10 {
	width: 50px;
}

.col_11 {
	width: 50px;
}

.col_12 {
	width: 50px;
}

.col_13 {
	width: 50px;
}


/*
*******************
* =misc
*******************
*/


.article {
	
}


.article h3 {
	font-size: 15px;
	margin-bottom: 10px;
	text-transform: lowercase;
	/*letter-spacing: -1px;*/
}

.article h3 span {
	/*font-size: 18px;*/
}

.article p {
	text-align: justify;
	font-size: 12px;
	line-height: 1.5em;
}

.article_small {
	height: 500px;
}

.article_header {
	height: 100px;
	width: 248px;
	margin-bottom: 30px;
}

.nav_side_header {
	height: 100px;
	width: 150px;
	margin-top: 0px;
	margin-bottom: 29px;
}

.banners {
	margin-bottom: 16px;
	margin-top: 16px;
}

label {
	display: block;
	margin-top: 5px;
}

textarea {
	width: 248px;
	height: 200px;
	padding: 0px;
}

input {
	padding: 0px;
	margin: 0px;
	width: 148px;
}

form {
	padding-bottom: 30px;
}

.dane p {
	/*text-align: center;*/
}

.dane a,
.footer p a, 
.article_tab p a,
.subtext a,
.offer_p a,
.example a {
	text-decoration: none;
	color: #6c6c6c;
}

.dane a:hover,
.footer p a:hover,
.article_tab p a:hover,
.subtext a:hover,
.offer_p a:hover {
	color: #b22323;
	text-shadow: #b22323 0px 0px 1px;
}

.map {
	float: right;
	border: 1px solid black;
	margin-bottom: 20px;
}

.selected a {
	color: black;
	background: url(../images/selected.png) no-repeat;
}

.article p a img {
	margin-bottom: 4px;
	width: 122px;
	height: 80px;
	opacity: 0.75;
}

.article p a img:hover {
	opacity: 1;
}

.offer a img:hover {
	opacity: .9;
}

.flash {
	border: 1px solid black;
	margin-left: 113px;
}

.example {
	float: right;
	width: 776px;
	margin-right: 10px;
}

.example h3 {
	font-size: 15px;
	margin-bottom: 10px;
}

.lower .article_header {
	margin-bottom: 62px;
}

.lower p img {
	margin-left: 49px;
	margin-top: 20px;
}

.more {
	float: right;
	padding: 0px 5px;
	background: #ababab;
}

.more a {
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
	color: black;
}

.more a:hover {
	text-shadow: black 0px 0px 1px;
}

.subtext {
	width: 776px;
	float: right;
	margin-right: 10px;
	margin-bottom: 30px;
	text-align: justify;
}

.offer, .offer_siatki {
	width: 776px;
	float: right;
	margin-right: 10px;
	margin-bottom: 16px;
	background: url(../images/list.png) no-repeat;
	/*border-bottom: 1px solid black;*/
}

.offer_siatki {
	height: 200px;
}

.offer_img {
	float: right;
}

.offer_p {
	float: left;
	width: 258px;
	text-indent: 10px;
	text-align: justify;
}

.offer_p_wide {
	float: left;
	width: 776px;
	text-align: justify;
	text-indent: 10px;
}

.ie_note {
	margin-top: -20px;
}


.cable {
	margin-top: -10px;
	padding-top: 1px;
	width: 248px;
	height: 125px;
	background: url(../images/cable.png) no-repeat;
}

.cable a {
	font-size: 13px;
	/*font-weight: bold;*/
	letter-spacing: 1.2px;
	/*color: #11aaaa;*/
	color: #CF2942;
}

.article_weak p, .article_weak h3 {
	filter: alpha(opacity = 40);
}

div {
	zoom: 1 ;
}pacity = 40);
}

div {
	zoom: 1 ;
}